body {
  font-family: "Roboto", sans-serif;
}

button {
  color: white;
  background-color: #e03e5d;
  border-color: #e03e5d;
  padding: 0.8rem;
}

button + button {
  margin-left: 0.4rem;
}

.takeshot-input {
  border-radius: 10px 0 0 10px;
  padding-left: 0.2rem;
  height: 1.2rem;
}

.takeshot-button {
  color: white;
  background-color: #e03e5d;
  border-color: #e03e5d;
  border-radius: 0 10px 10px 0;
  padding: 0 0.8rem 0 0.8rem;
  height: 1.5rem;
}

.guess-button {
  color: white;
  background-color: #e03e5d;
  border-color: #e03e5d;
  padding: 0.8rem;
}

.feedback-message {
  color: #e03e5d;
  margin-left: 1rem;
}

aside {
  float: left;
  width: 9.4rem;
}

aside img {
  width: 8rem;
  display: block;
  margin: 0 auto;
}

aside + section {
  margin-left: 12rem;
}

ul {
  margin: 0.75em 0;
  padding: 0 1.7em;
  list-style: none;
}
li:before {
  content: "";
  border-color: transparent #e03e5d;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.shot {
  display: inline-block;
  padding: 0 0.2rem;
  text-align: center;
}

.logo {
  text-align: center;
}

.logo img {
  width: 45px;
}

.logo h3 {
  padding-top: 0;
  margin-top: 0;
}

.shotlist {
  margin-top: 1rem;
}
